.order-make__preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0;
    z-index: -1;
}

.order-make__preloader.show {
    opacity: 0.9;
    z-index: 151;
}

.order-make__preloader .preloader,
.order-make__preloader .preloader-letter {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}